{% extends 'main/base.html' %}
{% load static %}

{% block title %}Breakfast Recipes — WFM{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/recipeCards.css' %}">
<link rel="stylesheet" href="{% static 'main/css/ourRecipes.css' %}">
{% endblock %}

{% block content %}

<div class="category-page-header">
  <h2> Breakfast Recipes</h2>
  <p>Start your day with something delicious</p>
</div>

<div id="recipe-results">
  {% include 'main/search.html' %}
</div>

{% endblock %}